div.tooltip {
    position: absolute;
    text-align: left;
    width: 320px;
    height: 120px;
    font: 13.5px sans-serif;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: silver;
    box-shadow: 2px 2px silver;
    border-radius: 2px;
    pointer-events: none;
    padding: 8px 5px;
    color: #5e9ed3;
    text-align: left;
    font-weight: bold;
    padding: 10px;
}

div.tooltip::first-line {
    color: red;
    font-size: 23px;
    margin-top: 50px;
}
/* 
div.tooltip > br::after {

} */

div.tooltip > span {
    display: inline;
    color: black;
    float: right;
}

rect.bar { 
    fill: #5e9ed3;
    stroke: rgb(90, 89, 89);
    stroke-width: 0.7px;
}